<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="canvas" hidden></canvas>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{{/*<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>*/}}
<script src="/assets/vendor/jsqr/jsQR.js"></script>
<script src="/assets/js/verify.js" ></script>
</body>
</html>